$primary: #50a5a4;
$secondary-middle: #a7ced4;
$secondary-light: #e3eaea;
$secondary-lightlight: #28c8c8;
$secondary-dark: #8dc1c7;
$secondary-lightlight: #28c8c8;
$header: #f4f4ee;
$facebook: #1877f2;
