.past-record-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  padding: 20px;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 40px;
    gap: 41px;
  }
}

.toggle-box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
    align-self: flex-start;
    gap: 30px;
    width: initial;
  }
}
